[Desktop Entry]
Exec=pysca -w /usr/lib/python3/dist-packages/gui/data/ project run 
Name=PYSCA-HMI 
Type=Application
Icon=/home/ainur/icon.png
Version=1.0
Terminal=false
Comment=АСУ PYSCA-HMI
Path=/usr/share/pysca-hmi
StartupNotify=true

